/*Global Styles*/
body {
  position: relative;
  background-color: var(--bg-primary);
  font-family: var(--main-font);
}
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--bg-secondary);
  border-bottom-left-radius: 90px;
  top: 0;
  right: 0;
  height: 50vh;
  width: 50vw;
}

.button {
  max-width: 180px;
}
.button a {
  display: block;
  font-family: var(--heading-font);
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}
.button.button__schedule {
  padding-right: 20px;
}
.button.button__schedule a {
  color: var(--bg-primary);
  background-color: var(--button-primary);
  border-radius: 5px;
  min-width: 155px;
  text-align: center;
}
.button.button__schedule a:hover {
  background-color: rgba(255, 92, 92, 0.65);
}
@media all and (max-width: 781px) {
  .button.button__login {
    border-top: 1px solid var(--text-secondary);
    margin: 0 auto;
    max-width: calc(100% - 80px);
    padding: 15px;
  }
}
.button.button__login a {
  color: var(--text-secondary);
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.125rem;
}
.button.button__login a:hover {
  text-decoration: underline;
}

/*Font Styles*/
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--heading-primary);
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  padding: 20px 0px;
}
@media all and (min-width: 782px) {
  h1 {
    font-size: 3.5rem;
  }
}

p {
  font-size: 1.125rem;
  color: var(--text-primary);
}

span.product__content {
  font-family: var(--heading-font);
  font-size: 0.875rem;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  word-spacing: 0.2rem;
}

span.flair {
  font-family: var(--heading-font);
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--bg-primary);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding: 3px 7px;
  margin-right: 10px;
  background-color: var(--heading-primary);
  border-radius: 25px;
}

/*Header*/
header {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (min-width: 782px) {
  ul {
    display: flex;
    padding-right: 50px;
  }
}
ul li {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--heading-primary);
  text-align: center;
  padding: 15px;
  letter-spacing: 0.1rem;
}
ul lia:hover {
  text-decoration: underline;
}
@media all and (max-width: 781px) {
  ul li {
    padding: 20px;
  }
}

.menu-holder__mobile {
  display: block;
}
@media all and (min-width: 782px) {
  .menu-holder__mobile {
    display: none;
  }
}
.menu-holder__desktop {
  display: none;
}
@media all and (min-width: 782px) {
  .menu-holder__desktop {
    display: flex;
    align-items: center;
  }
}

/*Mobile navigation*/
#nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--heading-primary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 10px;
}
#nav-icon span:nth-child(4) {
  top: 20px;
}
#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(4) {
  top: 10px;
  left: 50%;
  width: 0%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-mobile__dropdown {
  display: none;
  width: calc(100% - 80px);
  position: absolute;
  left: 40px;
  top: 114px;
  background-color: var(--bg-primary);
  border-radius: 5px;
  -webkit-box-shadow: -7px 11px 23px -6px rgb(91, 95, 113);
  -moz-box-shadow: -7px 11px 23px -6px rgb(91, 95, 113);
  box-shadow: -7px 11px 23px -6px rgb(91, 95, 113);
}
.menu-mobile__dropdown.expand {
  display: block;
}

/*Intro section*/
main {
  display: flex;
  align-items: center;
}
main .intro-section {
  flex: 0 1 100%;
}

.two-column__holder {
  display: flex;
}
@media all and (max-width: 781px) {
  .two-column__holder {
    flex-direction: column-reverse;
  }
}
@media all and (min-width: 782px) {
  .two-column__holder {
    align-items: center;
    justify-content: space-between;
  }
}

.two-column__content {
  flex: 0 1 100%;
  padding: 40px;
}
@media all and (min-width: 782px) {
  .two-column__content {
    flex: 0 1 50%;
  }
}

.two-column__text, .two-column__schedule {
  max-width: 480px;
  margin: 0 auto;
}

.two-column__schedule {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
@media all and (min-width: 782px) {
  .two-column__schedule {
    padding-top: 50px;
  }
}

.two-column__image {
  flex: 0 1 100%;
}
@media all and (min-width: 782px) {
  .two-column__image {
    flex: 0 1 50%;
  }
}
.two-column__image img {
  width: 120%;
  display: block;
}

/*# sourceMappingURL=style.css.map */
