/*Global Styles*/
body {
	position: relative;
	background-color: var(--bg-primary);
	font-family: var(--main-font);

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		background-color: var(--bg-secondary);
		border-bottom-left-radius: 90px;
		top: 0;
		right: 0;
		height: 60vh;
		width: 50vw;
	}
}


.button {
	max-width: 180px;

	a {
		display: block;
		font-family: var(--heading-font);
		font-weight: 700;
		text-transform: uppercase;
		padding: 10px;
	}

	&.button__schedule {
		padding-right: 20px;

		a {
			color: var(--bg-primary);
			background-color: var(--button-primary);
			border-radius: 5px;
			min-width: 155px;
			text-align: center;

			&:hover {
				background-color: rgba(255, 92, 92, 0.65);
			}
		}
	}

	&.button__login {
		@media all and (max-width: 781px) {
			border-top: 1px solid var(--text-secondary);
			margin: 0 auto;
			max-width: calc(100% - 80px);
			padding: 15px;
		}	

		a {
			color: var(--text-secondary);
			text-align: center;
			letter-spacing: 0.1rem;
			font-size: 1.125rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}






/*Font Styles*/
h1 {
	font-family: var(--heading-font);
	font-weight: 700;
	color: var(--heading-primary);
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 1;
	padding: 20px 0px;

	@media all and (min-width: 782px) {
		font-size: 3.5rem;
	}
}


p {
	font-size: 1.125rem;
	color: var(--text-primary);
}


span.product__content {
	font-family: var(--heading-font);
	font-size: 0.875rem;
	color: var(--text-secondary);
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	word-spacing: 0.2rem;
}


span.flair {
	font-family: var(--heading-font);
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--bg-primary);
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	padding: 3px 7px;
	margin-right: 10px;
	background-color: var(--heading-primary);
	border-radius: 25px;
}






/*Header*/
header {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


ul {

	@media all and (min-width: 782px) {
		display: flex;
		padding-right: 50px;
	}

	li {
		font-family: var(--heading-font);
		font-weight: 700;
		font-size: 1.125rem;
		text-transform: uppercase;
		color: var(--heading-primary);
		text-align: center;
		padding: 15px;
		letter-spacing: 0.1rem;

		&:hover {
			text-decoration: underline;
		}

		@media all and (max-width: 781px) {
			padding: 20px;
		}
	}
}


.menu-holder {
	&__mobile {
		display: block;

		@media all and (min-width: 782px) {
			display: none;
		}
	}

	&__desktop {
		display: none;

		@media all and (min-width: 782px) {
			display: flex;
			align-items: center;
		}
	}
}


/*Mobile navigation*/
#nav-icon {
	width: 30px;
	height: 25px;
	position: relative;
	z-index: 3;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: var(--heading-primary);
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 10px;
		}	

		&:nth-child(4) {
			top: 20px;
		}
	}


	&.open {
		span {
			&:nth-child(1), &:nth-child(4) {
				top: 10px;
				left: 50%;
				width: 0%;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);	
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}


.menu-mobile__dropdown {
	display: none;
	width: calc(100% - 80px);
	position: absolute;
	left: 40px;
	top: 114px;
	background-color: var(--bg-primary);
	border-radius: 5px;
	-webkit-box-shadow: -7px 11px 23px -6px rgba(91,95,113,1);
	-moz-box-shadow: -7px 11px 23px -6px rgba(91,95,113,1);
	box-shadow: -7px 11px 23px -6px rgba(91,95,113,1);

	&.expand {
		display: block;
	}
}






/*Intro section*/
main {
	display: flex;
	align-items: center;

	.intro-section {
		flex: 0 1 100%;
	}
}



.two-column__holder {
	display: flex;

	@media all and (max-width: 781px) {
		flex-direction: column-reverse;
	}

	@media all and (min-width: 782px) {
		align-items: center;
		justify-content: space-between;
	}
}


.two-column__content {
	flex: 0 1 100%;
	padding: 40px;

	@media all and (min-width: 782px) {
		flex: 0 1 50%;
	}
}


.two-column__text, .two-column__schedule {
	max-width: 480px;
	margin: 0 auto;
}

.two-column__schedule {
	padding-top: 20px;
	display: flex;
	align-items: center;

	@media all and (min-width: 782px) {
		padding-top: 50px;
	}
}


.two-column__image {
	@media all and (max-width: 781px) {
		flex: 0 1 100%;
		padding-bottom: 50px;
	}
	

	@media all and (min-width: 782px) {
		flex: 0 1 50%;
	}

	img {
		width: 120%;
		display: block;
	}	
}


